body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;





}

.header-nav {
    display: flex;
    align-items: center;

}

.nav-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
    align-items: center;
}

.nav-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;


}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
}



.logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
}


.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    font-size: 16px;
    padding: 24px 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero-section {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 188px 0 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto 48px;
    max-width: 496px;

}

.button {
    font-weight: 500;
    background-color: #4D5AE5;
    border: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:focus,
.button:hover {
    background-color: #404bbf;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}


.goals-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;


}


.goal {
    gap: 24px;
    flex-basis: calc((100% - 3*24px)/4);
    border-radius: 8px;
    box-sizing: border-box;
}


.goals-section {
    padding: 120px 0;
}

.goal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.goal-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-div {
    padding: 32px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

}


.team-member {
    width: calc((100% - 72px) / 4);
    border-radius: 4px;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);


}



.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-member-status {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.social-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    background-color: #404bbf;
}

.link:focus {
    background-color: #404bbf;
}

.icon.social-icon {
    fill: #f4f4fd
}

.icon-list {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.container-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background-color: #fff;
    column-gap: 24px;
    row-gap: 48px;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item-text:hover {
    transform: translateY(0%);
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}

.img-box {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.info-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.info-footer {
    max-width: 264px;
}

h2.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer-main {
    display: flex;
    align-items: baseline;

}

.footer-information {
    margin-right: 120px;

}

.social-title {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
    background-color: #31d0aa;
}

.social-link:focus {
    background-color: #31d0aa;

}

.social-icon {
    fill: #f4f4fd;
}